.padding {
  padding: 0 0 1em;
}

.terminated {
  background-color: yellow;
  color: black;
}

.protected {
  background-color: red;
}

.not-active {
  background-color: grey;

}

.pending {
  background-color: orangered;
}
