html{
  height:100%;
}
body{
  height:100%;
}

li {
  list-style: none;
}

.background-color {
  background: #375a7f;
}

hr {
  background-color: white;
  height: 1px;
  border: 0;
  width: 80%;
}

.heading {
  text-align: right;
  font-weight: bold;
}

td, th {
  padding-right: 0.1em;
  padding-left: 0.1em;
  font-size: .8em;
  color: #375a7f;
}


.padding {
  padding: 0 0 1em;
}

.section {
  padding-left: 1em;
}

.error {
  color: red;
  font-variant-caps: all-small-caps;
}

.form-group {
  padding: 0 0 0 0.5em;
}



