.nav-tabs{
  display: flex;
  border-bottom: 0;
}
.nav-tabs li {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: auto;
  padding-right: auto;
  display: flex;
  flex: 1;
}

.nav-tabs li  a {
  vertical-align: center;
  text-align: center;
  font-size: x-small;
  flex: 1;
  white-space: nowrap;
  border-bottom: 0;
  border-radius: 5px 5px 0 0;
}


